.molochnyj{
    background: #f2f3f4 !important;
    border-color: #f2f3f4!important;

}
.zhovtyj{
    background: #ffff00 !important;
    border-color: #ffff00!important;
}
.temno-synij{
    background: #00008b !important;
    border-color: #00008b!important;
}
.bezhevyj{
    background: #F5F5DC !important;
    border-color: #F5F5DC!important;
}
.chornyj-z-bilym{
    background: linear-gradient(90deg rgba(0001) 50% rgba(2552552551) 50%) !important;
}
.chornyj-z-chornym{
    background: #000 !important;
    border-color: #000!important;
}
.chornyj{
    background: #000 !important;
    border-color: #000!important;
}
.chorna-zhatka{
    background: #000 !important;
    border-color: #000!important;
}
.kapuchyno{
    background: #b39f7a !important;
    border-color: #b39f7a!important;
}
.siryj{
    background: #808080 !important;
    border-color: #808080!important;
}
.siryj-smuzhka{
    background: #808080 !important;
    border-color: #808080!important;
}
.blakytnyj{
    background: #0000FF !important;
    border-color: #0000FF!important;
}
.kemel{
    background: #bca78b !important;
    border-color: #bca78b!important;
}
.zhemchug{
    background: #f7e7ce !important;
    border-color: #f7e7ce!important;
}
.moloko{
    background: #f5f5dc !important;
    border-color: #f5f5dc!important;
}
.temno-siryj{
    background: #A9A9A9 !important;
    border-color: #A9A9A9!important;
}
.sriblo{
    background: #C0C0C0 !important;
    border-color: #C0C0C0!important;
}
.siryj-melanzh{
    background: #696969 !important;
    border-color: #696969!important;
}
.svitlo-siryj{
    background: #DCDCDC !important;
    border-color: #DCDCDC!important;
}
.bila{
    background: #fff !important;
    border-color: #C4C4C3!important;
}
.bilyj{
    background: #fff !important;
    border-color: #C4C4C3!important;
}
.white{
    background: #fff !important;
    border-color: #C4C4C3!important;
}
.synij{
    background: #F0F8FF !important;
    border-color: #F0F8FF!important;
}
.rozhevyj{
    background: #FFC0CB !important;
    border-color: #FFC0CB!important;
}
.grafit{
    background: #494d4e !important;
    border-color: #494d4e!important;
}
.korychnevyj{
    background: #993300 !important;
    border-color: #993300!important;
}
.korychnevyj-vintazh{
    background: #993300 !important;
    border-color: #993300!important;
}
.ajvori{
    background: #FFFFF0 !important;
    border-color: #FFFFF0!important;
}
.temno-korychnevyj-z-potertostyamy{
    background: #654321 !important;
    border-color: #654321!important;
}
.rudyj{
    background: #FF8000 !important;
    border-color: #FF8000!important;
}

